
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    padding: 1px 8%;
    position: sticky;
    top: 0;
    background-color: rgba(57, 143, 201, 0.87);
    z-index: 3;
}
#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav_logo{
    width: 100px;
    height: auto;
}
#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}
.nav-item a {
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600;
}
.nav-item.active a {
    color: rgb(0, 0, 0);
}

.btn-default{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    padding: 10px 14px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    
}

.btn-default:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

#mobile_btn {
    display: none;
}
#mobile_menu {
    display: none;
}

.butao-cont{
    list-style: none;
    text-decoration: none;


}
@media screen and (max-width: 768px) {
    #nav_list,
    #navbar .btn-default {
        display: none;
    }
    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }
    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }
    #mobile_nav_list .nav-item {
        list-style: none;
        text-align: center;
    } 
    .butao-cont{
        list-style: none;
    }
}

.titulo {
    text-align: center;
    margin-top: 80px;
}

#carrinho {
    margin: 0px auto;
    
}

.carrinho_container {
    display: flex;
    flex-direction: column;
}

.itens_e_cesta {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    
}

.item_carrinho {
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 90%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.item_imagem {
    width: 100px;
    height: auto;
    object-fit: cover;
    margin-right: 20px;
}

.item_info {
    flex: 1;
}

.item_total {
    text-align: right;
}

#quantidade {
    width: 60px;
}

#cesta {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 5px solid rgb(134, 187, 229);
    border-radius: 10px;
    padding: 0px; 
    width: 350px; 
    height: 320px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

.resumo_carrinho {
    text-align: right;
}

#finalizar {
    display: flex;
    background-color: rgb(16, 127, 218);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    margin:20px 100px;
}

#finalizar:hover {
    background-color: rgb(14, 105, 184);
}

#recibo {
    
    text-align: center;
    margin-top: 10px;
    padding: 20px;
}

#det {
    display: flex;
    height: 20px;
    text-align: left;
}

.calcular_frete {
    display: flex;
    flex-direction: column;
   
    gap: 10px;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {

    

    .cesta {
        display: flex;
        flex-direction: column;
        margin-top: 180px;
        margin-left: -270px;
        width: 100%; 
        height: auto;
        
    }

    #finalizar {
        width: 150px;
        margin-left: 75px;
    }
    
}