* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    padding: 1px 8%;
    position: sticky;
    top: 0;
    background-color: rgba(57, 143, 201, 0.87);
    z-index: 3;
}
#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav_logo{
    width: 100px;
    height: auto;
}
#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}
.nav-item a {
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600;
}
.nav-item.active a {
    color: rgb(0, 0, 0);
}

.btn-default{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    padding: 10px 14px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    
}

.btn-default:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

#mobile_btn {
    display: none;
}
#mobile_menu {
    display: none;
}

.butao-cont{
    list-style: none;
    text-decoration: none;


}
@media screen and (max-width: 768px) {
    #nav_list,
    #navbar .btn-default {
        display: none;
    }
    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }
    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }
    #mobile_nav_list .nav-item {
        list-style: none;
        text-align: center;
    } 
    .butao-cont{
        list-style: none;
    }
}

.titulo{
    display:flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
}

#produtos{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f4f4f4;
    padding: 50px;
   
    }

/*.container_produtos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 250px;
    height: 350px;
}

.info_produtos{
    display: flex;  
    flex-direction: column;
    align-items: center; 
    padding: 0px;
}*/

.produtos_container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px; 
    padding: 30 20px; 
}

.container_produtos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 250px;
    height: 350px;
    overflow: hidden; 
}

.info_produtos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.container_produtos #imgg{

    width: auto;  
    height: 150px;
    margin: 25px;
    object-fit: cover;
}


#cestaa{
    width: auto;
    height: 100px;
    object-fit: cover;
    display: flex;
    position: relative;
    flex-direction: column;
}

#cesta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -28px;
    margin-left: 800px;
    position: relative;
}

@media screen and (max-width: 768px) {

    #logo{
        width: 150px;
        height: auto;
        margin-left: -80px;
        margin-top: 15px;

    }

    .botao_cadastro{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: -14px;

    }


    .menu{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(57, 143, 201, 0.87);
        width: 100%;
        top: 0;
        left: 0;
        height: 60px;
    
        
    }
    
    ul{
        display: none;
        display: flex;
        padding: -10px 0px;
       margin-left: -55px;

        align-items: center;
    }
       
    .lista_menu li a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        padding: 10px;
        display: flex;
        
    }
    
    #cesta{
        display: flex;
        margin-top: 30px;
        margin-left: 300px;
       
    
    }

    #produtos{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding: 0px;
       
        }

    .produtos_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .container_produtos {
        width: 130px;
        height: 260px;
        flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    overflow: hidden;
    }

    .info_produtos {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        height: 200%;
        margin: -10px;
    }

    #imgg{
        max-width: 95%;
        height: auto;
        object-fit: cover;
    }



}